# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
FreshNFluffy_Test/
CoverageReport/
CoverageReportFiltered/
TestResults/

# Rider
.idea/
*.sln.iml

# ASP.NET Core
appsettings.Development.json

# OS
.DS_Store
Thumbs.db